.header {
    display: flex;
    height: 36px;
    background: rgb(42, 206, 170);
    justify-content: space-around;
}

.abc {
    width: 100%;
    display: flex;
}

.img {
    width: 40%;
    margin: 10px;
}

.imgg {
    width: 100%;
    margin: 10px;
}

.aaaa {
    width: 60%;
    margin: 20px;
}

.modal-responsive {
    display: flex;

}

.menu {
    display: none;
}
.top {
    background: rgb(59, 153, 153);
}

.col {
    width: 22%;
}

@media screen and ( max-width: 768px ) {
    .col {
        width: 100%;
    }
    

    .modal-responsive {
        flex-direction: column;
    }

    .header {
    display: none;
    }
    .menu {
        display: block;
    }
}

    @media screen and ( max-width: 1024px ) and ( min-width: 769px ) {
        .col {
            width: 50%;
    
        }
    
        .modal-responsive {
            flex-wrap: wrap;
        width: 100%;
        }
        }